@model EasyBBS.Models.ApplicationDbContext.BoardEntity
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "掲示板の削除";
}

<div class="main-page-content-wrapper">

    <div class="container">

        <h2 class="text-center my-4">@ViewBag.Title</h2>
        <h3 class="text-center text-danger my-4">本当にこの掲示板投稿を削除しますか？</h3>

        <div class="card my-4">
            <div class="card-header bg-warning text-dark">
                <h4>掲示板投稿詳細</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">タイトル:</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                    <dt class="col-sm-3 mt-2">投稿日時:</dt>
                    <dd class="col-sm-9 mt-2">@Html.DisplayFor(model => model.PostedDate)</dd>

                    <dt class="col-sm-3 mt-2">メッセージ:</dt>
                    <dd class="col-sm-9 mt-2">@Html.Raw(Model.Text.Replace("\n", "<br />"))</dd>
                </dl>
            </div>
        </div>

        @using (Html.BeginForm("Delete", "Board", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="d-flex justify-content-center gap-3 my-4">
                <button type="submit" class="btn btn-danger btn-lg">削除</button>
                @Html.ActionLink("一覧に戻る", "Index", null, new { @class = "btn btn-secondary btn-lg" })
            </div>
        }

        <hr class="my-4" />
        <div class="text-center mb-4">
            @Html.ActionLink("ホームに戻る", "Index", "Base", null, new { @class = "btn btn-outline-info" })
        </div>
    </div>
</div>
